

.Header_Bar {
  background-color: rgb(135, 185, 37);
  height: 100px;
  z-index: 10;
}

.Left_box_1 {
  border-radius: 5px;
  background-color: rgb(229, 229, 229);
  position: absolute;
  left: 75px;
  top: 135px;
  width: 580px;
  height: 930px;
  z-index: 2;
}

.Right_box_1 {
  border-radius: 5px;
  background-color: rgb(229, 229, 229);
  position: absolute;
  left: 711px;
  top: 135px;
  width: 580px;
  height: 570px;
  z-index: 3;
}

.right_box_2 {
  border-radius: 5px;
  background-color: rgb(229, 229, 229);
  position: absolute;
  left: 711px;
  top: 725px;
  width: 580px;
  height: 275px;
  z-index: 4;
}

.right_box_3 {
  border-radius: 5px;
  background-color: rgb(229, 229, 229);
  position: absolute;
  left: 711px;
  top: 1020px;
  width: 580px;
  height: 445px;
  z-index: 5;
}

.Map_box {
  background-color: rgb(247, 178, 132);
  position: absolute;
  left: 753px;
  top: 170px;
  width: 500px;
  height: 500px;
  z-index: 7;
}

.BLob_box {
  background-color: rgb(234, 91, 12);
  position: absolute;
  left: 115px;
  top: 170px;
  width: 500px;
  height: 500px;
  z-index: 6;
}

.Stats_box {
  background-color: rgb(135, 185, 37);
  position: absolute;
  left: 112px;
  top: 700px;
  width: 500px;
  height: 333px;
  z-index: 8;
}

.Main_Name {
  font-size: 36px;
  font-family: "Palatino Linotype";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 74px;
  top: 32.115px;
  width: 521px;
  height: 26px;
  z-index: 12;
}



