

.Header_Bar {
  background-color: #18bc9c;
}

.Header_Bar h2 {
  color:white;
}
.Header_Bar h2 a{
  color:white;
}

.challenge-map {
  height:300px;
}

.infobox {
  background-color : #f7f7f7;
  padding: 10px;
  margin  :10px;
  border-radius: 5px;
}

.infobox h3  {
  margin-top: 5px;
}