<h2>New Challenge: Noisy Neighbors</h2>

<div>
    <div class="column col-md-4">
        <div class="infobox">
            <h3> About this challenge</h3>
            <p> Noise from student houses is a concern for everybody </p>
            <p>We have partnered with Town and Gown - a student/council liason group,  to help reduce levels of late-night noise in student housholds</p>
        </div>

    </div>
    <div class="column col-md-">
        <div id="map" style="height:500px"></div>
    </div>
</div>
<div class="row">
    <div class=" column col-md-4">
        <div class="infobox">

            <h3> The challenge</h3>
            <p>
               Help reduce late-night noise in your area due to student housing by reporting student noise
            </p>

            <p>
                <b>The Reward: </b>
            <ul>
                <li>5 points toward your  score
                </li>

            </ul>
            </p>
            <p><b>Bonus Points</b>
                Tweet from your Neighbor's park
            </p>

            <a class="btn btn-success"> Suggest this challenge </a>
        </div>

    </div>
    <div class=" column col-md-4">
        <div class="infobox">


        </div>
    </div>
    <div class=" column col-md-4">
        <div class="infobox">

            <h3>How to Participate </h3>
            <p>
                Sign up with <a href="http://www.townandgown.org.uk/"> Town and Gown's</a> Noise reduction program and
                report student noise issues.
            </p>
            <p> Every time </p>

        </div>

    </div>

</div>

